@import './mixins.scss';
@import './colors.scss';

header {
    background-color: $website-theme-color;

    h1 {       
        text-align: center;
        padding: 20px;
    }

    nav {
        height: 100%;
        padding: 2%;
        
        ul {
            @include display-flex;
            list-style: none;

            li {
                padding: 0 2%;
            }
            
            button {
                min-width: 200px;
                padding: 5% 0; 
                border-radius: 10px;
                border: 3px solid gray;
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                background-color: $website-theme-color;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                box-shadow: inset 0 0 1em white, 0 0 1em gray;
            }

            button:hover {
                cursor: pointer;
            }
        }
    }
}