* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-container {
    background-color: lightgray;
}

.add-inputs {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.add-inputs label, .edit-inputs label {
    margin: 0 1%;
    font-size: 12px;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, dimgray, white, white, white, dimgray);
    padding: 0.5%;
    font-weight: 700;
    border-radius: 10px;
}

.add-inputs input, .search-input input, .remove-input input, .edit-inputs input {
    border: 2px solid gray;
    padding: 0.5%;
    text-align: center;
}

.add-inputs input:focus, .search-input input:focus{
    outline: none;
}

.add-button {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button button, .search-button button, .all-button button, .remove-button button, .edit-button button {
    border: none;
    padding: 0.5%;
    font-weight: bold;
    background-color: dodgerblue;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid gray;
    color: white;
}

.add-button button:hover, .search-button button:hover, .all-button button:hover,
.remove-button button:hover, .edit-button button:hover {
    background-color: deepskyblue;
}

.search-container {
    background-color: whitesmoke;
    padding: 0.5%;
}

.search-input, .search-button, .search-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}

.all-container {
    background-color: lightgray;
    padding: 0.5%;
}

.all-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1%;
}

.all-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-products p {
    padding: 0.5%;
    border: 1px solid gray;
    color: white;
    margin: 0.5% 0;
    background-color: rgb(115, 187, 255);
}

.remove-container {
    background-color: whitesmoke;
    padding: 1%;
}

.remove-button, .remove-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5% 0;
}

.edit-container {
    background-color: lightgray;
    padding: 1%;
}

.edit-button, .edit-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5% 0;
}

.edit-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button button {
    margin-top: 1%;
}