footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2%;

    p {
        color: white;
    }

    a {
        text-decoration: none;
        color: dodgerblue;
        font-weight: bold;
    }
}