<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/css/style.css">
</head>
<body>
    <div class="add-container">
        <div class="add-inputs">
            <label>ID:</label><input name="id" type="text">
            <label>Product name:</label><input name="name" type="text">
            <label>Product price:</label><input name="price" type="number">
            <label>Product producer:</label><input name="producer" type="text">
        </div>
        <div class="add-button">
            <button>Add product</button>
        </div>
    </div>
    <div class="search-container">
        <div class="search-input">
            <input type="number">
        </div>
        <div class="search-button">
            <button>Find by product id</button>
        </div>
        <div class="search-result"></div>
    </div>
    <div class="all-container">
        <div class="all-button">
            <button>Show all available products</button>
        </div>
        <div class="all-products"></div>
    </div>
    <div class="remove-container">
        <div class="remove-input">
            <input type="number">
        </div>
        <div class="remove-button">
            <button>Remove by product id</button>
        </div>
    </div>
    <div class="edit-container">
        <div class="edit-inputs">
            <label>ID:</label><input name="editId" type="number">
            <label>New roduct name:</label><input name="editName" type="text">
            <label>New product price:</label><input name="editPrice" type="number">
            <label>New product producer:</label><input name="editProducer" type="text">
        </div>
        <div class="edit-button">
            <button>Edit by product id</button>
        </div>
    </div>
</body>
<script>

    const getProduct = (response) => {
        const resultBox = document.querySelector('.search-result');
        const info = document.createElement('p');

        let productName = response[0].name;
        let productPrice = response[0].price;

        info.innerHTML = `Product name: ${productName}, cost: ${productPrice}$`;

        resultBox.appendChild(info);
    }

    const getAllProducts = (products) => {
        const resultBox = document.querySelector('.all-products');
        
        while (resultBox.lastChild) {
            resultBox.removeChild(resultBox.lastChild);
        }

        products.forEach(product => {
            const p = document.createElement('p');
            p.innerHTML = `ID: ${product.id}, name: ${product.name}, price: ${product.price}, producer: ${product.producer}`;
            resultBox.appendChild(p);
        });
    }

    const updateProduct = () => {
 
    }

    const btnFind = document.querySelector('.search-button button');
    const btnAllProducts = document.querySelector('.all-container button');
    const btnRemoveProduct = document.querySelector('.remove-container button');
    const btnEditProduct = document.querySelector('.edit-container button');

    btnFind.addEventListener('click', () => {

        const productId = document.querySelector('.search-input input').value;

        fetch(`/products/:${productId}`, {
            method: "GET"
        })
        .then(res => res.json()
        .then(res => getProduct(res)));
    });

    btnAllProducts.addEventListener('click', () => {
        fetch(`/products`, {
            method: "GET"
        })
        .then(res => res.json()
        .then(res => getAllProducts(res)));
    });

    btnRemoveProduct.addEventListener('click', () => {
        const productId = document.querySelector('.remove-input input').value;
        fetch(`/products/:${productId}`, {
            method: "DELETE"
        })
        .then(res => { res.json(); console.log(res)});
    });

    btnEditProduct.addEventListener('click', () => {
        const productId = document.querySelector('[name="editId"]').value;
        const productName = document.querySelector('[name="editName"]').value;
        const productPrice = document.querySelector('[name="editPrice"]').value;
        const productProducer = document.querySelector('[name="editProducer"]').value;

        fetch('/products', {
            method: "PATCH",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },

            body: JSON.stringify({id: productId, name: productName, price: productPrice, producer: productProducer})
        });

        alert("Product has been updated.");
    });

    const btn = document.querySelector('.add-container button');
    const inputId = document.querySelector('[name="id"]');
    const inputName = document.querySelector('[name="name"]');
    const inputPrice = document.querySelector('[name="price"]');
    const inputProducer = document.querySelector('[name="producer"]');

    btn.addEventListener("click", (ev) => {

        ev.preventDefault(); // do not reload page

        const inputIdValue = inputId.value;
        const inputNameValue = inputName.value;
        const inputPriceValue = inputPrice.value;
        const inputProducerValue = inputProducer.value;

        fetch('/products', {
            method: "PATCH",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },

            body: JSON.stringify({id: inputIdValue, name: inputNameValue, price: inputPriceValue, producer: inputProducerValue})
        });

        alert("Product added successfuly!");
    });

</script>
</html>